# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Vercel
.vercel

# Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.HEIC
